*.class
nifi-tools-cli/build/*
nifi-tools-cli/.gradle/*
*.iml
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
